body { 
    font-family: 'DroidArabicKufiRegular'; 
    font-weight: normal; 
    font-style: normal; 
 }
 
 .navbar.navbar-dark .navbar-nav .nav-item > .nav-link {
    color: #ffffff;
}

 .navbar.navbar-dark .navbar-nav .nav-item > .nav-link:hover {
    background-color: rgb(245, 236, 95);
    color: #bb375f;
}

.news-title {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.6);
    line-height: 21px;
    margin: 0 0 8px;
    text-decoration: none;
}

.list-unstyled li i {
    color: #c5c5c5;
}

.list-unstyled li:hover i  {
    transition: color 0.3s;
    color: #49c32c;
}

.list-unstyled li:hover   {
    transition: color 0.3s;
    color: #000000;
}

.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
.Site-content {
    flex: 1;
  }