.navbar.navbar-dark .navbar-nav .nav-item > .nav-link:hover {
    background-color: rgb(255, 255, 255);
    color: #3E2723;
}



.news-title {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.6);
    line-height: 21px;
    margin: 0 0 8px;
    text-decoration: none;
}